/* Estilos CSS para o seu site */
body {
    font-family: ALATSI REGULAR;
    margin: 0;
    padding: 0;
    background-color:rgb(194, 175, 226);
    background-image: url(img/IMGFUNDO.jpg);
}

header {
    background-color: rgb(228, 212, 247);
    color: #be090950;
    text-align: center;
    padding: 1rem 0;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffdbff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #333;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

button {
    background-color: #100013;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button:hover {
    background-color: #ffffff;
}


